extends layouts/layout
include mixins/mixins

block title 
  title Платежное поручение
block body
  body
    include includes/_svg
    include includes/_page-header
    //- include includes/_page-main
    //- include includes/_page-footer
    block script
