.page-header {
  &__top {
    display: flex;
    padding: 0 15px;
    color: #fff;
    background-image: linear-gradient(to right, #00417B 0, #46D2CC 100%);
    min-height: 60px;
    min-width: 1024px;
  }//top

  &__qr {

  }

}