html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 100%;
}
html,
body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
body {
  color: #2b2b2b;
  background-color: #edeff1;
  font-family: @rb;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  .center();
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  min-width: 1024px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea {
  font-family: inherit;
}

.icon {
  transition: fill 0.25s ease-in-out;
}

// custom scroll css begin
.js-scroll-container > .js-scrollbar-y-wrap {
  width: 6px;
  background-color: #f2f2f2;
  border-radius: 3px;
}
.js-scroll-container > .js-scrollbar-y-wrap > .js-scrollbar-y {
  width: 6px;
  border-radius: 3px;
  background-color: #dcdcdc;
}

// градиент для текста
// -------------------
// -webkit-background-clip: text;
// -webkit-text-fill-color: transparent;
// -------------------

//от переполнения текстом
// white-space: nowrap;
// overflow: hidden;
// text-overflow: ellipsis;
