header.page-header
  //- page-header__top BEGIN
  .page-header__top
    .page-header__logo
      img(src="img/logo.svg" title="QR-Лого" alt="QR-Лого")
    .page-header__search.search
      label.search__label(for="search")
        +icon("search", 18, 18)
        | Найти
      input.search__field(type='search' id="search" placeholder="Поиск")
    nav.page-header__nav.menu
      ul.menu__list
        li.menu__item.is-active
          a(href='#') Деньги
        li.menu__item
          a(href='#') Контакты
        li.menu__item.menu__item--dropdown.js-menu__item
          a(href='javascript: void(0)') Услуги
          | 
          ul.menu__list.menu__list--submenu
            li
              a(href='#') Пункт меню
            li
              a(href='#') Пункт меню
    button.page-header__add
      +icon("plus", 42, 42)
    button.page-header__notify
      +icon("bell", 14, 20)
      .page-header__notify-badge.badge.badge--alert 2
    .page-header__order
        nav.menu
          ul.menu__list
            li.menu__item.menu__item--dropdown.menu__item--dropdown--fh.js-menu__item.item--open
              a(href="javascript: void(0)")
                +icon("company", 17, 17, "menu__icon")
                span ООО «РОДНЫЕ ПРОСТОРЫ»
              .menu__panel.order
                .menu__panel-top
                  button.menu__panel-close
                    +icon("close", 15, 15)
                  .menu__panel-descr(title="Платежное поручение № 5241234 от 23.09.2015") Платежное поручение № 5241234 от 23.09.2015
                .menu__panel-body.js-custom-scroll
                  .order__inner.order__body
                    .order__sum &ndash;&nbsp;23 500,00 &#8381;
                    .order__bill
                      span.order__from со счета:&nbsp;
                      span Расчетный счет&nbsp;(***012345)
                    .order__badge.badge.badge--success ИСПОЛНЕН, 21 июня 15:33
                    .order__panel.order__panel--corner
                      .order__requisites
                        .order__name ООО "Родные просторы"
                        .order__requisites-item ИНН: 22341497819132
                        .order__requisites-item Банк: ОАО Сбербанк
                        .order__requisites-item БИК: 2352362365
                        .order__requisites-item Счет: 40802810970010000395
                      //- .order__features
                      //-   p Высокая финансовая устойчивость
                      //-   p Высокая благонадежность
                      //-   p Кредитоспособность 44,6 млрд &#8381;

                    .order__panel.order__panel--grey
                      .order__descr Оплата за партию ромашек и одуванчиков по договору 14023-023 от 14.05.2015 г. Сумма 11430-00. В том числе НДС 18% - 1450,00 ₽
                    .order__notes
                        p Комиссия банка: 70 р.
                        p Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным. Точный размер комиссии определяется после передачи платежного документа на обработку в банк.
                .order__bottom.menu__panel-bottom
                  .order__actions
                    button(type="button").order__btn
                      +icon('repeat', 20, 20)
                      | Повторить
                    button(type="button").order__btn
                      +icon('favorite', 20, 20)
                      | В избранное
                    button(type="button").order__btn
                      +icon('chat', 22, 22)
                      | Спросить
                    button(type="button").order__btn
                      +icon('more', 20, 20)
                      | Действия
  //- page-header__top END


  