header.page-header
  .page-header__top
    .page-header__qr.qr-block
      +icon("qr", 24, 24)
    .page-header__search.search
      input.search__field(type='text')
      button(type='button')
        +icon("search", 18, 18)
    nav.page-header__nav.menu
      ul.menu__list
        li.menu__item Деньги
          a(href='#')
        li.menu__item
          a(href='#') Контакты
        li.menu__item.menu__item--dropdown
          a(href='javascript: void(0)') Услуги
            | 
            ul.menu__list.menu__list--submenu
              li
                a(href='#') Пункт меню
              li
                a(href='#') Пункт меню
    .page-header__add
      button
        +icon("plus", 42, 42)
    .page-header__notify
      button
        +icon("home", 15, 19)
        .badge.badge--alert 2
    .page-header__order
        nav.menu
          ul.menu__list
            li.menu__item.menu__item--dropdown.menu__item--dropdown--fh.menu__item--open
              .menu__panel
                .menu__panel-top
                  button.menu__panel-close
                    +icon("close", 20, 20)
                  .menu__panel-descr Платежное поручение № 5241234 от 23.09.2015
                .menu__panel-body
                  include _order